<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>Professional Portfolio (Lite)</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/build/bundle.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon.png') }}">    
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/favicon.png') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    </head>
    <body>
        <!-- Site Header -->
        <header class="site-header">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="site-logo">
            <nav class="nav">
                <a href="#profile">Profile</a>
                <a href="#about">About</a>
                <a href="#projects">Projects</a>
                <a href="#skills">Skills</a>
                <a href="#contact">Contact</a>
            </nav>
        </header>

        <!-- Main Header -->
        <div class="container">

            <!-- Profile Section -->
             <section id="profile" class="profile-section">
                <div class="profile-header">
                    
                </div>

             </section>
            
        </div>
    </body>

</html>